body {
    background-color: aqua;
}

h1 {
    color: gold;
    text-align: center;
    font-family: system-ui;
    font-size: 250px;
    text-shadow: 10px 20px 30px lightyellow;
}

h1:hover {
    color: darkblue;
    padding-top: 60px;
    font-size: 200px;
    font-weight: bold;
}